asgiref==3.5.2
async-timeout==4.0.3
click==8.1.7
colorama==0.4.6
Deprecated==1.2.13
Django==4.1
django-redis==5.4.0
geographiclib==2.0
geopy==2.4.1
packaging==23.2
pip==24.0
pymemcache==4.0.0
python-dotenv==0.21.0
redis==4.3.4
setuptools==69.5.1
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
wheel==0.43.0
wrapt==1.14.1
